/* 리셋 */
html,body,div,span,applet,object,ifram-e,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0; padding:0; border:0; font:inherit; font-size:100%; vertical-align:middle; outline:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
html {line-height:1.2; -webkit-text-size-adjust:100%;}
body,html {width:100%; height:100%;}
ol,ul {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
a,a:link,a:focus,a:hover,a:active {background:transparent; text-decoration:none;}
address,em {font-stretch:normal;}
fieldset,img {max-width:100%; border:0;}
.blind {display:block; overflow:hidden; position:absolute; top:0; left:0; background:0 0; width:0; height:0; border:0; line-height:0; font-size:0;}

#header {padding:15px 0;
	h1 {font-size:20px; font-weight:bold;}
}

/* 생일 */
.user_birthday {display:flex; align-items:center;
	dt {padding:0 10px; flex:0 0 60px;}
	dd {flex:auto;}
	.form-row {margin:5px 0;
		.form-group {margin:0;}
	}
	.user_birthday_select {display:flex;}
}
/* 전화 */
.user_tel {display:flex; align-items:center;
	dt {padding:0 10px; flex:0 0 60px;}
	dd {flex:auto;}
	.form-row {margin:5px 0;
		.form-group {margin:0;}
	}
}
/* 약관동의 */
.agree_box {display:flex; margin:20px 0;
	.agree_text {max-height:150px; margin-right:15px; padding:10px; border:1px solid #ced4da; border-radius:3px; box-sizing:border-box; font-size:14px; overflow-y:scroll; flex:auto;}
}

/* 버튼 박스 */
.btn_wrap {display:flex; padding:30px 0;
	> button {flex:auto;
		& + * {margin-left:5px;}
	}
}

/* 커스텀 라디오 박스 */
.custom_radio_wrap {display:flex;}
.custom_radio_box {flex:auto;
	input[type=radio] {position:absolute; width:0; height:0; visibility:hidden;}
	label {width:100%;}
	input[type=radio]:checked + label {background-color:#17a2b8; border-color:#17a2b8; color:#fff;}
	&:not(:first-child) {margin-left:-1px;}
	&:not(:first-child) label {border-bottom-left-radius:0; border-top-left-radius:0;}
	&:not(:last-child) label {border-top-right-radius:0; border-bottom-right-radius:0;}
	&:last-child  label {border-bottom-left-radius:0; border-top-left-radius:0;}
}